body{
    font-family: 'raleway';
}

#notifContainer{
    font-size: 2em;
    color: red;
    text-align: center;
    margin-bottom: 1em;
}

.timeContainer{
    text-align: center;
    padding: 1em 0px;
    font-size: 1.5em;
}

.timerContainer .timeValueContainer{
    font-size: 1.5em;
}

#progressBarContainer{
  border: 3px solid black;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333;
  position: relative;
}

#progressBar{
  background-color: blue;
  width: 0%;
  height: 100%;
}

#progressLabelContainer{
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
}
